---
layout: main.vto
showContent: true
bfscript: /bf/book-page.js
---

<section class="section">
    {{ set lastRanking = (await history()).lastRanking }}
    {{ include "book-card.vto" { currentBallot: tags.some(t => /^(ballot|held)$/.test(t)), rank: lastRanking.byLtId[ltid] } }}
</section>

{{ include "bf/book-page.html" }}
