<!doctype html>
<html>
    <head>
        {{ if title }}
        <title>{{ title }} &middot; JoCo Book Club</title>
        {{ else }}
        <title>JoCo Book Club</title>
        {{ /if }}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" href="{{ "/assets/bookclub.css" |> url }}">
        <script src="https://kit.fontawesome.com/3b41ac7e32.js" crossorigin="anonymous"></script>
        <script type="module" src="/bf/login-button.js"></script>
        {{ if bfscript }}
        <script type="module" src="{{ bfscript }}"></script>
        {{ /if }}
    </head>

    <body>
        <nav class="navbar is-info" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" title="JoCo Book Club" href="/">
                    <i class="fa-duotone fa-solid fa-book-open-cover fa-2x"></i>
                </a>
                <a class="navbar-item" title="Upcoming Books" href="/#upcoming">
                    <i class="fa-duotone fa-solid fa-book-sparkles"></i>
                </a>
                <a class="navbar-item" title="Current Ballot" href="/#ballot">
                    <i class="fa-duotone fa-solid fa-box-ballot"></i>
                </a>
                <a class="navbar-item" title="Previous Books" href="/previous">
                    <i class="fa-duotone fa-solid fa-books"></i>
                </a>
                <a class="navbar-item" title="Current Rankings" href="/ranking">
                    <i class="fa-duotone fa-solid fa-ballot"></i>
                </a>
                <a class="navbar-item" title="Suggestions" href="/suggestions">
                    <i class="fa-duotone fa-solid fa-lightbulb"></i>
                </a>
                <login-button login="{{ "/login" |> url }}" passkey="{{ "/passkey" |> url }}" style="display: contents;"></login-button>
            </div>
        </nav>

        {{ content }}
    </body>
</html>