---
layout: main.vto
bfscript: /bf/tag-page.js
---

<section class="section">
    <h1 class="title" id="ballot">
        <span class="icon {{iconClass}}"><i class="fa-duotone fa-solid {{icon}}"></i></span>
        <span>{{name}}</span>
    </h1>
    {{ if description }}
    <h2 class="subtitle">{{description}}</h2>
    {{ /if }}
</section>
