@view-transition {
  navigation: auto;
}

dl {
  display: grid;
  grid-template-columns: 10ch 1fr;
  gap: 0.5rem;
}

dl dt {
  font-weight: 600;
  text-align: right;
  grid-column: 1;
}

dl dd {
  grid-column: 2;
}

.calendar {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(75ch, 1fr));
}

.month {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr auto);
  grid-template-rows: auto auto repeat(6, auto 1fr);

  .name {
    grid-column: 1 / -1;
    text-align: center;
    font-weight: 600;
  }

  .sunday {
    grid-row: 2;
    grid-column: 1 / span 2;
    text-align: center;
  }

  .monday {
    grid-row: 2;
    grid-column: 3 / span 2;
    text-align: center;
  }

  .tuesday {
    grid-row: 2;
    grid-column: 5 / span 2;
    text-align: center;
  }

  .wednesday {
    grid-row: 2;
    grid-column: 7 / span 2;
    text-align: center;
  }

  .thursday {
    grid-row: 2;
    grid-column: 9 / span 2;
    text-align: center;
  }

  .friday {
    grid-row: 2;
    grid-column: 11 / span 2;
    text-align: center;
  }

  .saturday {
    grid-row: 2;
    grid-column: 13 / span 2;
    text-align: center;
  }

  .day {
    grid-row: calc(round(down, (var(--start-dow) + var(--day) - 1) / 7) * 2 + 3)
      / span 2;
    grid-column: calc(mod(var(--start-dow) + var(--day) - 1, 7) * 2 + 1) / span
      2;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    border: 1px solid var(--bulma-border);
    border-radius: 0.25rem;

    .number {
      grid-column: 2;
    }

    .events {
      grid-row: 2;
      grid-column: span 2;
    }
  }

  .empty-day {
    grid-row: calc(
      round(down, (var(--start-dow) + var(--day) - 1) / 7) * 2 + 3
    );
    grid-column: calc(mod(var(--start-dow) + var(--day) - 1, 7) * 2 + 2);
  }
}

.book-title {
  font-style: italic;
}
