---
layout: main.vto
title: Login
bfscript: /bf/login-form.js
---

<section class="section">
    <h1 class="title"><span class='icon-text'><span class="icon has-text-info"><i class="fa-duotone fa-solid fa-ferry"></i></span><span>Login</span></span></h1>

    <login-form><p>You will need JS enabled to login.</login-form>
</section>

{{ include 'bf/login-form.html' }}
