---
layout: main.vto
title: Manage Passkeys
bfscript: /bf/passkey-page.js
---

<section class="section">
    <h1 class="title">Logout</h1>
    <logout-button></logout-button>
</section>

<section class="section">
    <h1 class="title">Add Passkey</h1>
    <add-passkey></add-passkey>
</section>
