---
layout: main.vto
title: Current Rankings
bfscript: /bf/final-tally.js
tags: [ranking]
---

<section class="section">
    <h1 class="title"><span class="icon has-text-info"><i class="fa-duotone fa-solid fa-ballot"></i></span> Current Rankings</h1>

    <div class="container">
        <final-tally>
            <p>You need to be logged in, and have JS enabled, to view the current rankings.</p>
        </final-tally>
    </div>
</section>
